@use "./partials/mixins" as *;
@use "./partials/variables" as *;

body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
}

.page {
  padding: 1rem;

  &--red {
    background-color:red; 
  }

  &__title {
    font-size: 2rem;
    
    &--clicked {
      color: red;
    }
  }

  &--hidden {
    opacity: 0;
    transition-duration: $transition-length;
    transition-property: opacity;
  }
}

/**
 * Game over screen has a fullscreen overlay with centered
 * flex children, includes a transition 
 */
.game-over {
  @include fullscreen-overlay;
  z-index: -1;
  opacity: 0;
  background-color: #ccc;
  
  @include flex-center;
  flex-direction: column;
  
  &--show {
    opacity: 1;
    /**
     * Duration of game over transition is half 
     * of page hide transition 
     */
    transition-delay: $transition-length;
    transition-duration: calc($transition-length / 2);
    transition-property: opacity;
  }
}

.todos {
  &__list {
    padding: 0;
    margin-left: 1rem;
  }

  &__item {
    padding: 0.5rem;
    &::marker {
      margin-right: 0.5rem;
      content: "🔲";
    }

    &--completed {
      text-decoration: line-through;

      &::marker {
        content: "☑️";
      }
    }
  }
}